body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #f4f4f4;
    padding: 10px 0;
    text-align: center;
    border-bottom: 1px solid #ccc;
}

.header-element {
    display: inline-block;
    margin: 0 15px;
    padding: 10px;
    background-color: #e0e0e0;
    border-radius: 5px;
}

header.title-header {
    background-color: #e0e0e0;
    padding: 10px 0;
    text-align: center;
    border-bottom: 1px solid #ccc;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    width: 100%;
}

.rectangle {
    width: 300px;
    height: 200px;
    background-color: #f4f4f4;
    border: 2px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.download-button {
    padding: 10px 20px;
    font-size: 1em;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.download-button:hover {
    background-color: #45a049;
}